body{
  padding-top: 70px;
  font-family: gotham-light !important;
  background-color: #1e2228;
}

#jumbotron-btn{
  background-color: #df1927 !important;
  border-color: #1e2228;
  padding-top: 20px;
}

.dropdown-menu > li > a {
  text-align: center;
  padding-top: 5px;
}

/*CAROUSEL*/

.carousel-inner{
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  color: black;
}

.carousel-indicators{
  color: black;
}

.btn{
  color: #ffff;
  background-color: #df1927 !important;
  border-color: #1e2228;
  padding-top: 15px;
}

/*TIL FARVEN*/
.jumbotron{
  background: #252a33;
  padding: 10px;
}

/*TIL ALT ANDET*/
.jumbotron h1 {
  color: #ffffff;
  font-size: 40px;;
}

.jumbotron p{
  font-size: 16px;
  color: #ffffff;
}

.navbar{
  background-color: #1e2228;
  padding-top: 10px;
}

.navbar-inverse .navbar-brand{
  line-height: 27px;
  color: #df1927;
  font-size: 150%;
}

#jumbotron-footer{
  padding: 10px;
  font-size: 10px;
}
